*{
	box-sizing:border-box;
	border-spacing:0px;
}
body{
}
th{
	background-color:#E1E1E1;
}
td{
	width:250px;
}
tr,th,td,table{
	border:1px solid black;
}
tr:hover{
	background-color:#EBEBEB;
	cursor:default;
}
.todo{
	background-color:rgba(255,157,154,0.5);
}
.doing{
	background-color:rgba(240,234,149,0.5);
}
.done{
	background-color:rgba(155,217,145,0.5);
}
div{
	margin:15px 0;
}
button,select{
	margin:5px 0;
}